body {
  font-family: "Noto Sans JP", "cinecaption" "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #444;
}

figure {
  margin: 0;
  padding: 0;
  /* display: inline; */
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  height: 130px;
  margin: 0 auto;
}

.header-inner {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  height: 73px;
}
.header-logo p {
  font-size: 30px;
  line-height: 1.33333;
  text-align: center;
  margin-left: 10px;
}

.header-right p {
  font-size: 14px;
}

.tel p {
  font-size: 24px;
  font-weight: bold;
  color: #21A937;
  display: flex;
  justify-content: flex-end;
}

.main-visual {
  background-image: url(../img/fv.png);
  background-size: cover;
  background-position: center;
  height: 947px;
}

.belief-inner {
  background-color: #fff;
  height: 664px;
  display: flex;
  justify-content: space-between
}

.belief-text {
  margin-top: 200px;
}
.belief-text h2 {
  margin-left: 32px;
}

.belief-text p {
  font-size: 16px;
  line-height: 2.375;
  margin: 46px 0 0 32px;

}

.belief-inner img {
  margin-top: 162px;
}


.content-about {
  background-color: #F5FCF8;
}

.treatment-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contents-title {
  text-align: center;
}
.contents-title .title {
  font-size: 24px;
  padding-top: 85px;
}
.contents-title p {
  margin-top: 79px;
  margin-bottom: 37px;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: 380px;
  height: 593px;
  border: solid 2px #C9C9C9;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.content-box:nth-child(3) {
  margin-right: 0;
}

.content-box h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 47px;
}
.content-box p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 54px;
  line-height: 2.375;
}
.content-box figure {
  margin-top: auto;
}


.news-list {
  height: 390px;
  background-color: #fff;
  border-radius: 30px;


}
















