body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #444;
  z-index: 1;

}

figure {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

/* ライン */
.under-ver span {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}
.under-ver span::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: #99E5A5;
  z-index: -1;
}
/* ライン */

header {
  height: 130px;
}

.header-inner {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 73px;
}
.logo p {
  font-size: 30px;
  line-height: 1.33333;
  text-align: center;
  margin-left: 10px;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-right p {
  font-size: 14px;
  margin-bottom: 15.9px;
}

.tel {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-tel {
  margin-left: 14.8px;
}

.header-tel, .footer-tel {
  font-size: 24px;
  font-weight: bold;
  color: #21A937;
}

.main-visual {
  background-image: url(../img/fv.png);
  background-size: cover;
  background-position: center;
  height: 947px;

  display: flex;
}

.mv-title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  height: 565px;
  margin-left: 221px;
  margin-top: 133px;
}
.mv-title h2 {
  font-family: "Noto Sans JP";
  font-size: 28px;
  font-weight: bold;
  padding: 25px 37px 108px;
  background-color: #fff;
}
.mv-title h2:nth-child(2) {
  margin-right: 80px;
}
.mv-title span {
  color: #21A937;
  font-weight: bold;
}

.belief-inner {
  background-color: #fff;
  height: 664px;
  display: flex;
  justify-content: space-between;
}

.belief-text {
  margin-top: 200px;
  margin-left: 31px;
}
.belief-text h2 span {
  font-size: 26px;
  font-weight: bold;
}
.belief-text span:nth-child(1) {
  margin-bottom: 40px;
  margin-left: 1px;
  padding: 0 8px 0 1px;
}
.belief-text p {
  font-size: 16px;
  line-height: 2.375;
  margin-top: 46px;
}
.belief-inner img {
  margin-top: 162px;
}


.content-about {
  background-color: #F5FCF8;
  padding-bottom: 112px;
}

.treatment-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contents-title {
  text-align: center;
  padding-top: 85px;
}
.contents-title h2 span {
  font-size: 24px;
  font-weight: bold;
  padding: 0 4px;
}
.contents-title p {
  margin-top: 79px;
}

.contents {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: 380px;
  height: 593px;
  border: solid 2px #C9C9C9;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.content-box:nth-child(3) {
  margin-right: 0;
}

.content-box h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 47px;
}
.content-box p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 54px;
  line-height: 2.375;
}
.content-box figure {
  margin-top: auto;
}

.news-title {
  margin-top: 90px;
  text-align: center;
}

.news-title h2 span {
  font-size: 24px;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 4px;
}

.news-list {
  height: 390px;
  background-color: #fff;
  border-radius: 30px;

  margin-top: 74px;
}

footer {
  height: 799px;
}

.footer-inner {
  background-color: azure;
  height: 100%;
  display: flex;
}

.footer-info {
  width: 533px;
}

.footer-info .logo {
  margin-bottom: 30px;
}


.address {
  display: flex;
}
.address p:nth-child(2) {
  margin-left: 16px;
}

.footer-tel {
  margin-left: 15.1px;
}
.tel2 {
  height: 26.8px;
  display: flex;
  align-items: center;
  margin: 33.2px 0 29.5px;
}

.medical-list {
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
  padding: 19px 0;
  font-size: 14px;
  position: relative;
  width: 533px;
}
.box1 {
  display: flex;
  position: relative;
}
.list {
  margin-left: 57px;
  position: relative;
  /* width: 100%; */

}
.time {
  border-left: 2px solid #000;
  display: flex;
  position: relative;
  width: 100%;
}




@media(min-width: 768px){
  a[href^="tel:"]{
    pointer-events: none;
  }
}
